/*** Fixes ***/
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

* {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

/*************/

body {
	background-color: #eee;
}

#container {
	max-width: 900px;
	margin: 0 auto;
}

.content-section {
	background-color: white;
	padding: 10px 20px;
	margin: 20px;
}

nav {
	background-color: #555;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

nav:after {
	content: "";
	display: table;
	clear: both;
}

nav a, .nav-dropdown {
	font-size: 14pt;
	text-decoration: none;
	color: white;
	background: #337781;
	margin: 5px;
	width: 215px;
	float: left;
	text-align: center;
	display: inline-block;
	border-radius: 2px;
	position: relative;
	height: 42px;
	line-height: 25px;
	padding:9px;
}

nav .active, .nav-dropdown.active, .pagation a.active {
	box-shadow: inset 0 0 5px black;
}

.nav-dropdown:hover > .nav-dropdown-links {
	display: block;
}

.nav-dropdown-links {
	display: none;
	position: absolute;
	left: -5px;
	margin-top: 30px;
	background-color: #555;
	border-radius: 8px;
}

.nav-dropdown:hover {
	display: block;
}

.nav-dropdown-links:before {
	padding-top: 60px;
	width: 215px;
	height: 0;
	content: "";
	position: absolute;
	left: 5px;
	top: -60px;
}

.nav-dropdown-links:after {
	z-index: 100;
	position: absolute;
	top: -13px;
	left: 100px;
	content: "";
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;

	border-bottom: 13px solid #555;
}

.menu-icon{
	left: 0;
	top: 0;
	position: fixed;
	height: 32px;
	width: 32px;
	background: #337781 url('/icons/menu.png') no-repeat center;
	border-bottom-right-radius: 5px;
	padding: 20px;
	display: none;
}

.menu-icon:hover~nav{
	display:block;
}

.pagation a{
	text-decoration: none;
	color: white;
	background-color: #337781;
	width: 25px;
	height: 25px;
	padding: 3px 8px;
	display:inline-block;
	margin: 1px;
}

nav:hover{
	display:block;
}

p {
	font-size: 14pt;
	line-height: 1.5em;
	text-align: justify;
	margin: 0 ;
}

h1 {
	text-align: center;
}

h2 {
	margin: 10px 0 0 0;
}

h3 {
	margin: 10px 0 0 0;
}

.date {
	text-align: center;
	font-size: 10pt;
	margin-bottom: 10px;
}

img{
	width: 100%;
}
ul{
	margin: 5px 0;
}
code{
	background: #474949;
	tab-size: 4;
	font-size: 10pt;
}

iframe.vid{
	width: 100%;
	height: 500px;
}

/*
.content-section hr {
	margin: 10px -10px;
	height: 5px;
	background-color: #eee;
	border-style: none;
}
*/

/*** Profile Styles ***/
.link{
	height: 12px;
	width: 12px;
	margin: 0 3px;
}

.headWdate h3{
	float:left;
}
.headWdate p{
	float: right;
	margin-top:14px;
	line-height: 1em;
}
.headWdate .link{
	margin-top: 15px;
}
.clearfix:after, .headWdate:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.p-title{
	line-height: 1em;
	margin: 0;
}

/*** Media Queries (have to be last) ***/
/*TODO: change to device type in addition to pixels */
@media handheld, (max-width: 900px) {
	nav a, nav .nav-dropdown {
		width: 140px;
		float: left;
		clear: both;
	}

	nav {
		width: 150px;
		border-radius: 0;
		height: auto;
		min-height: 100%;
		position: fixed;
		background-color: #555;
		z-index: 9;
		display:none;
		top: 0;
	}

	.nav-dropdown-links{
		top: -32px;
		left: 155px;
	}
	.nav-dropdown-links:before{
		margin-left: 200px;
		width: 20px;
		height: 45px;
		left: -215px;
		top: 0;
		padding-top: 0;
	}
	.nav-dropdown-links:after{
		border-top: 13px solid transparent;
		border-bottom: 13px solid transparent;
		border-right: 13px solid #555;
		border-left: 0;
		left: -10px;
		top: 10px;
	}

	.menu-icon{
		display:block;
	}
	.headWdate p{
		float:left;
		clear: left;
		margin-top: 0;
	}
	.content-section{
		margin: 20px 10px;
	}

}